
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>Aanvullende tekst ddddddddddddddddddddddddddddd ddddddddddd ddddddddddddd ddddd dddddddddddd ddddddddd fffffffffffffffffffffffffff
      ffffffffff ggggggggggg ggggggg gggggg gggggggg hhhhhhhh hhhhhhh hhhhhhhhhhhhhhhhhhhhhhhhhh jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
      kkkkkkkkkkkkkkkkkkkkkkkkkkk kkkkkkk<br> ss
      <br> yy
      <br> ss
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yy
      <br> ss
      <br> yyzz
      <br>

    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <div class="pull-right">
  <a class="navbar-brand" href="#">Fixed bottom START</a>
  </div>
</nav>
