<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header" style="margin-left:-20px;" >
      <ul class="nav navbar-nav">
        
      <li><a (click)="showSidebar = !showSidebar"><i class="glyphicon glyphicon-th"  aria-hidden="true"></i></a></li>
      </ul>
       <a class="navbar-brand" href="#">Brand</a>
    </div>

    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"> <a [routerLink]="['one']">One</a></li>
      <li [routerLinkActive]="['active']"> <a [routerLink]="['second']">Second</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    </ul>
  </div>
</nav>

<div class="flex-container">

  <div class="flex-item-sidebar" *ngIf="showSidebar">
    <my-app-sidebar></my-app-sidebar>
  </div>

  <div class="flex-item-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
-->