<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">My SAP-ANGULAR App</a>
    </div>

    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"> <a [routerLink]="['one']">One</a></li>
      <li [routerLinkActive]="['active']"> <a [routerLink]="['second']">Second</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    </ul>
  </div>

</nav>

<div class="panel panel-default ">
  <div class="panel-body">
    <router-outlet></router-outlet>
  </div>
</div>