
<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">My ANGULAR App</a>
    </div>

    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']"> <a [routerLink]="['one']">One</a></li>
      <li [routerLinkActive]="['active']"> <a [routerLink]="['second']">Second</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    </ul>
  </div>



</nav>
</header>



  <div  >
    <router-outlet></router-outlet>
  </div>


<!--
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
-->